fastapi==0.115.6
fastapi-cli==0.0.5
fastapi-mail==1.4.1
python-multipart==0.0.6
pydantic==2.10.3
pydantic-settings==2.6.1
uvicorn==0.32.1
gunicorn==20.1.0
sqlalchemy==2.0.11
psycopg2-binary==2.9.6
pyjwt==2.6.0
redis==4.6.0
alembic==1.11.2
python-dotenv==0.21.0
celery==5.2.7
asyncpg==0.27.0
httpx==0.24.0
pytest==7.4.4
pytest-asyncio==0.21.1
passlib==1.7.4
aiobotocore==2.5.0
beanie==1.28.0
